:root {
  --primary-color: #212529;
  --second-color: #ffffff;
  --terciary-color: #f8f8f8;
  --button-color: #4732b3;
  --gradient-color-head: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  --gradient-color-footer: linear-gradient(
    rgba(39, 32, 68, 0.7),
    rgba(39, 32, 68, 0.7)
  );
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

header {
  margin: 0 auto;
  padding: 230px 0;
  background-image: var(--gradient-color-head), url("/images/welcome.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--second-color);
}

header h1 {
  font-size: 95px;
  font-weight: 700;
  margin-bottom: 0;
}

header h3 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 5px;
}

header h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 3;
}

header a {
  font-weight: 500;
  font-size: 14px;
  padding: 15px 20px;
  display: inline-block;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--second-color);
  background: none;
  border: 1px solid var(--second-color);
  border-radius: 5px;
}

header a:hover {
  color: var(--second-color);
  background: var(--button-color);
  border: 1px solid var(--button-color);
}

main {
  max-width: 100%;
  margin: 0 auto;
}

main h3 {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 3;
  font-size: 24px;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 10px;
}

main h4 {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 300;
  line-height: 3;
}

main p {
  letter-spacing: 0.5px;
  font-size: 15px;
}

section.culinary {
  background-color: var(--terciary-color);
  max-width: 100%;
  margin: 0 auto;
}

section.static {
  margin: 0 auto;
  padding: 150px 0;
  background-image: url("/images/main.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.introduction,
.culinary-grid,
.itinerary-grid {
  padding: 70px 100px;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  width: 100%;
  animation: slide-left 50s infinite linear;
}

.carousel-images img {
  max-width: 30%;
  height: auto;
  flex-shrink: 0;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card,
.card-header.grid,
.card-footer {
  background-color: var(--second-color);
}

.card {
  margin: 10px 0;
}

.card-body {
  padding: 30px 30px 10px;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 4 /3;
}

.btn {
  display: block;
  color: var(--second-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
}

.static h2 {
  color: var(--second-color);
  font-size: 86px;
  font-weight: bold;
  line-height: 2;
}

.form-mail {
  margin: 0 auto;
  display: flex;
}

.grid {
  display: grid;
  grid-gap: 30px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

footer {
  margin: 0 auto;
  padding: 60px;
  background-image: var(--gradient-color-footer), url("/images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--second-color);
}

footer ul {
  padding-left: 0;
}

footer li,
h3,
p {
  line-height: 30px;
}

footer li {
  list-style: none;
}

footer h3 {
  font-size: 20px;
}

footer p {
  opacity: 0.7;
}

footer a {
  color: var(--second-color);
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 100px 0;
  }

  header h1 {
    font-size: 40px;
    padding: 10px;
  }

  header h3 {
    font-size: 20px;
  }

  header h2 {
    font-size: 16px;
  }

  main {
    padding: 20px;
  }

  main h3 {
    padding-bottom: 0;
    margin: 20px 0;
    line-height: 2;
    font-size: 12px;
    letter-spacing: 2px;
  }

  main h4 {
    margin: 20px 0;
    line-height: 1;
    font-size: 14px;
  }

  main p {
    font-size: 12px;
  }

  .grid {
    grid-gap: 10px;
  }

  .grid-2-columns,
  .grid-3-columns {
    grid-template-columns: 1fr;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }

  footer {
    padding: 15px;
  }

  footer p,
  footer a {
    font-size: 12px;
  }
}
